body {
    font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.modal-backdrop {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: initial;
}
.search-form {
    padding-left: 1px;
}
.search-form > .btn {
    padding: 8px;
}
.page-header {
    margin: 18px 0;
    padding-bottom: 7px;
}
.page-header > h1 {
    margin: 0;
}