select {
    color: #333;
    padding: 1px 0;
}
#search-input {
    font-size: 17px;
    width: 700px;
    padding: 0 10px;
}
.modal-backdrop {
    background-color: #aaa;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: initial;
}
.navbar {
    margin-bottom: 0;
}
.navbar form {
    padding: 0 1px;
}
.page-header {
    margin: 18px 0;
    padding-bottom: 7px;
}
.page-header > h1 {
    margin: 0;
}
.container.saved-queries h2, .container.hosts h2 {
    margin-top: 30px;
    font-size: 25px;
}
.saved-queries h3 {
    margin: 0 0 6px;
    padding: 4px 0;
    font-size: 17px;
}
.saved-queries .btn {
    padding: 4px 8px;
    font-size: 12px;
    margin: 0 0 0 2px;
}
.saved-queries form {
    display: inline-block;
}
.hosts h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 21px;
}
.hosts h4 {
    font-size: 18px;
}
.updated-timestamp {
    font-size: 75%;
    margin-right: 14px;
}

@media(max-width:1198px) {
    #search-input {
        width: 520px;
    }
}

@media(max-width:990px) {
    #search-input {
        width: 300px;
    }
}
@media(max-width:767px) {
    .input-group, #search-input, .saved-queries-form .btn {
        width: 100%;
    }
    .saved-queries-form .btn {
        margin: 0;
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .dropdown-toggle, .dropdown-menu {
        text-align: right;
    }
    .row.saved-queries form {
        float: right;
    }
}
@media(max-width:600px) {
    .updated-timestamp {
        display: none;
    }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}