{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<!-- Graphs -->
<div class="container graphs">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#graphs-modal">
                    New Graphs
                </button>

                <input id="search-input" name="q" type="text" class="form-control pull-right" placeholder="Type to search" style="width: 400px" onkeyup="filter(this)">

                <h2>Graphs</h2>
            </div>
        </div>
    </div>

    {{ range $graph := .Graphs }}
    <div class="row graphs">
        <div class="col-xs-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#graphs-modal"
                        data-id="{{ $graph.ID }}"
                        data-name="{{ $graph.Name }}"
                        data-description="{{ $graph.Description }}">
                        Details
                    </button>

                    <a class="btn btn-success btn-xs" href="/graphs/{{ $graph.ID }}">View</a>
                </div>
            </div>

            <h4 style="margin-top: 0">{{ $graph.Name }}</h4>
            <p>{{ $graph.Description }}</p>
        </div>
    </div>
    {{ end }}
</div>

<!-- Graphs Modal -->
<div class="modal fade" id="graphs-modal" tabindex="-1" role="dialog" aria-labelledby="graphs-details-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="graphs-details-label">New/Update Graphs</h4>
            </div>

            <form method="post" action="/graphs">
                <input type="hidden" name="_method" value="post">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" value="">
                        </div>

                        <div class="col-sm-12">
                            <label>Description</label>
                            <textarea class="form-control" name="Description" row="7" placeholder="Put keywords in here for easier search"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        Delete
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function filter(element) {
    var value = $(element).val();
    if(value == '') {
        $('.row.graphs').show();
    }
    else {
        value = value.toLowerCase();

        $('.row.graphs').each(function() {
            var title = $(this).find('h4').text().toLowerCase().trim();
            var description = $(this).find('p').text().toLowerCase().trim();

            if(title.search(value) > -1 || description.search(value) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }
};

$('#graphs-modal form .btn-danger').click(function() {
    $('#graphs-modal form input[name="_method"]').val('delete');
    $(this).closest('form').submit();
});

$('#graphs-modal form .btn-primary').click(function() {
    $('#graphs-modal form input[name="_method"]').val('put');
    $(this).closest('form').submit();
});

$('#graphs-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var id = button.data('id');
    var name = button.data('name');
    var description = button.data('description');

    var modal = $(this);

    if(name) {
        modal.find('input[name="Name"]').val(name);
    }
    if(description) {
        modal.find('textarea').val(description);
    }

    if(id) {
        modal.find('form').attr('action', '/graphs/' + id);
        modal.find('.btn-danger').show();
        modal.find('.modal-title').text('Update Graphs');
    } else {
        modal.find('input[name="Name"]').val('');
        modal.find('textarea').val('');

        modal.find('form').attr('action', '/graphs');
        modal.find('.btn-danger').hide();
        modal.find('.modal-title').text('New Graphs');
    }
});
</script>
{{end}}
