{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<!-- Graphs -->
<div class="container watchers">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#watcher-modal">
                    New Graph
                </button>

                <h2>Graphs</h2>
            </div>
        </div>
    </div>
</div>
{{end}}
