{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<div class="container graphs">
    {{ if eq (len .Graphs) 0 }}
    <div class="jumbotron" style="margin-top: 40px">
        <h2>There are no dashboard created.</h2>
    </div>

    {{ else }}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="input-group">
                    <span class="input-group-addon header-input-group">Graphs</span>
                    <input id="search-input" name="q" type="text" class="form-control graph-search-input" placeholder="Type to search" onkeyup="filter(this)">
                </div>

                <h2>Graphs</h2>
            </div>
        </div>
    </div>

    {{ range $graph := .Graphs }}
    <div class="row graphs">
        <div class="col-xs-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group" role="group">
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#graphs-modal"
                        data-id="{{ $graph.ID }}"
                        data-name="{{ $graph.Name }}"
                        data-description="{{ $graph.Description }}"
                        data-range="{{ $graph.Range }}">
                        Details
                    </button>

                    <a class="btn btn-success btn-xs" href="/graphs/{{ $graph.ID }}">View</a>
                </div>
            </div>

            <h4 style="margin-top: 0">{{ $graph.Name }}</h4>
            <p>{{ $graph.Description }}</p>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

<!-- Graphs Modal -->
<div class="modal fade" id="graphs-modal" tabindex="-1" role="dialog" aria-labelledby="graphs-details-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="graphs-details-label">Graph Details</h4>
            </div>

            <form method="post" action="/graphs">
                <input type="hidden" name="gorilla.csrf.Token" value="{{ $.CSRFToken }}">
                <input type="hidden" name="_method" value="post">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" disabled>
                        </div>

                        <div class="col-sm-12">
                            <label>Range</label>
                            <select class="form-control" name="Range" disabled>
                                <option value="5 minutes">5 minutes</option>
                                <option value="10 minutes">10 minutes</option>
                                <option value="15 minutes">15 minutes</option>
                                <option value="30 minutes">30 minutes</option>
                                <option value="60 minutes">60 minutes</option>
                                <option value="2 hours">2 hours</option>
                                <option value="3 hours">3 hours</option>
                                <option value="6 hours">6 hours</option>
                                <option value="12 hours">12 hours</option>
                                <option value="24 hours">24 hours</option>
                                <option value="2 days">2 days</option>
                                <option value="3 days">3 days</option>
                                <option value="7 days">7 days</option>
                            </select>
                        </div>



                        <div class="col-sm-12">
                            <label>Description</label>
                            <textarea class="form-control" name="Description" row="7" placeholder="Put keywords in here for easier search" disabled></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function filter(element) {
    var value = $(element).val();
    if(value == '') {
        $('.row.graphs').show();
    }
    else {
        value = value.toLowerCase();

        $('.row.graphs').each(function() {
            var title = $(this).find('h4').text().toLowerCase().trim();
            var description = $(this).find('p').text().toLowerCase().trim();

            if(title.search(value) > -1 || description.search(value) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }
};

$(document).ready(function() {
    if($('.row.graphs').length == 0) {
        $('#search-input').hide();
    }
});

$('#graphs-modal form .btn-primary').click(function() {
    $('#graphs-modal form input[name="_method"]').val('put');
    $(this).closest('form').submit();
});

$('#graphs-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var id = button.data('id');
    var name = button.data('name');
    var description = button.data('description');
    var range = button.data('range');

    var modal = $(this);

    if(name) {
        modal.find('input[name="Name"]').val(name);
    }
    if(description) {
        modal.find('textarea').val(description);
    }
    if(range) {
        modal.find('select[name="Range"]').val(range);
    }
});
</script>
{{end}}
