{{define "second-navbar"}}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="form-group form-group-search-and-save readonly">
            <form class="navbar-form navbar-left search-form" role="search" action="/logs">
                <div class="input-group">
                    <input id="search-input" name="q" type="text" class="form-control" placeholder="Syntax: logline search 'keyword1 & keyword2 | keyword3'. Press enter to search">
                    <input type="hidden" name="from" value="{{ $.From }}">
                    <input type="hidden" name="to" value="{{ $.To }}">
                </div>
            </form>
        </div>
    </div>
</nav>

<script>
$(window).load(function() {
    var key = "q";
    var value = "";
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');

    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == key) {
            value = sParameterName[1];
        }
    }

    value = value.replace(/\+/g, " ");

    if(value != "") {
        $('[name="q"]').val(decodeURIComponent(value));
    }

    // On load, cp search input to saved-queries input.
    $('#saved-queries-input').val($('#search-input').val());
});

// This catches keyup, onchange, and paste events.
// cp search input to saved-queries input
$('#search-input').bind("input propertychange", function(e) {
    var searchInput = $(this).val();

    $(this).val(searchInput);
    $('#saved-queries-input').val(searchInput);
});

// If search input does not start with "logline search",
// make sure it does.
$('#search-input').closest('form').on("submit", function(e) {
    var searchInput = $('#search-input').val();

    if(searchInput.indexOf('logline search') != 0) {
        searchInput = "logline search '" + searchInput + "'";
    }

    $('#search-input').val(searchInput);
    $('#saved-queries-input').val(searchInput);
});
</script>
{{ end }}

{{define "content"}}
<!-- Saved Queries -->
<div class="container saved-queries">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right">
                    <small class="updated-queries-toggle">Show All</small>
                    <input type="checkbox" class="toggler toggler-header pull-right" data-size="mini">
                </div>

                <h2>Saved Queries</h2>
            </div>
        </div>
    </div>

    {{ range $i, $savedQuery := .SavedQueries }}
    <div class="row saved-queries" style="{{ if lt $i 5 }}display: block{{ else }}display: none{{ end }}">
        <div class="col-xs-12 col-lg-12">
            <div>
                <div class="pull-right">
                    <a href="?q={{ $savedQuery.Query }}" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>

                    <a href="//{{ $.AccessToken.Token }}:@{{ $.Addr }}/api/logs?q={{ $savedQuery.Query }}" type="submit" class="btn btn-success">
                       JSON
                    </a>
                </div>

                <h3>{{ $savedQuery.Query }}</h3>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<!-- Logs -->
<div class="container logs">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header" style="padding-bottom: 0">
                <div class="row pull-right pagination">
                    <div class="input-group">
                        <input class="form-control daterange" type="text" />
                        <span class ="input-group-btn">
                            <a type="button" class="btn btn-primary btn-pagination-prev" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span></a>
                            <a type="button" class="btn btn-primary btn-pagination-next" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></a>
                        </span>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="tabs logs-tab"><a href="/logs">Logs</a></li>
                    <li role="presentation" class="tabs executor-logs-tab"><a href="/logs/executors">Executor Logs</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="from-to-marker">
        <small class="time-unix-to-local">{{ $.From }}</small> - <small class="time-unix-to-local">{{ $.To }}</small>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="logs-list"></ul>
        </div>
    </div>

    <div class="row footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input id="search-input" name="q" type="text" class="form-control input-sm" placeholder="Press enter to search" onkeyup="filter(this)">
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row pull-right pagination">
                <div class="input-group">
                    <input class="form-control daterange" type="text" />
                    <span class ="input-group-btn">
                        <a type="button" class="btn btn-primary btn-pagination-prev" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span></a>
                        <a type="button" class="btn btn-primary btn-pagination-next" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
ResourcedMaster.globals.AccessToken = '{{ $.AccessToken.Token }}';
ResourcedMaster.logs.itemsPerPage = 50;

$(document).ready(function() {
    if(window.location.pathname.indexOf('/executors') != -1) {
        $('.tabs').removeClass('active');
        $('.executor-logs-tab').addClass('active');
    } else {
        $('.tabs').removeClass('active');
        $('.logs-tab').addClass('active');
    }

    // ----------------------------------------
    // Saved Queries

    $('.toggler').bootstrapSwitch();

    // Hide Saved Queries container if there are no save queries.
    if($('.row.saved-queries').length == 0) {
        $('.container.saved-queries').hide();
    }

    // Show all saved-queries if toggler is set to on.
    $('.container.saved-queries .toggler-header').each(function() {
        var elem = $(this);

        if($.localStorage.get('UIStore', '.container.saved-queries .toggler-header')) {
            elem.bootstrapSwitch('state', true, true);
            elem.closest('.container.saved-queries').find('.row.saved-queries').show();
        }
    });

    // -----------------------------------------------------
    // Set from and to unix timestamp from server-side.
    //
    var to = {{ .To }};
    var from = {{ .From }};

    // -----------------------------------------------------
    // Initialize daterange picker
    //
    $('input.daterange').each(function(index) {
        var drpElem = $(this);

        var settings = jQuery.extend(true, {}, ResourcedMaster.daterange.defaultSettings);
        settings.startDate = from;
        settings.stopDate = to;

        drpElem.daterangepicker(settings);
    });

    // -----------------------------------------------------
    // Fetch logs data on-load
    //
    ResourcedMaster.logs.get(ResourcedMaster.globals.AccessToken, {
        from: from,
        to: to,
        query: ResourcedMaster.url.getParams('q'),
        successCallback: function(logsJSON) {
            ResourcedMaster.logs.current = logsJSON;
            ResourcedMaster.logs.render('older', ResourcedMaster.logs.current, ResourcedMaster.logs.itemsPerPage, $('.logs-list'), $('.btn-pagination-prev'), $('.btn-pagination-next'));
        }
    });
});

$('input.daterange').on('apply.daterangepicker', function(e, picker) {
    var newPath = window.location.pathname + '?from=' + picker.startDate.utc().unix() + '&to=' + picker.endDate.utc().unix();
    var q = ResourcedMaster.url.getParams('q');

    if(q) {
        newPath = newPath + '&q=' + q;
    }

    window.location = newPath;
});

$('.container.saved-queries .toggler-header').on('switchChange.bootstrapSwitch', function(event, state) {
    if(state) {
        $(this).closest('.container.saved-queries').find('.row.saved-queries').show();
    } else {
        $(this).closest('.container.saved-queries').find('.row.saved-queries:gt(4)').hide();
    }

    $.localStorage.set('UIStore', '.container.saved-queries .toggler-header', state);
});

$(document).on('click', '.logs-list .hostname a, .logs-list .tags a', function(e) {
    e.preventDefault();

    var clause = $(this).data('clause');
    $('#search-input').val($('#search-input').val() + ' AND ' + clause);
    $('#saved-queries-input').val($('#search-input').val());
});

$('.btn-pagination-prev').click(function(e) {
    e.preventDefault();
    ResourcedMaster.logs.render('older', ResourcedMaster.logs.current, ResourcedMaster.logs.itemsPerPage, $('.logs-list'), $('.btn-pagination-prev'), $('.btn-pagination-next'));

    $('html, body').animate({ scrollTop: 0 }, 'slow'); // Scroll to top
});

$('.btn-pagination-next').click(function(e) {
    e.preventDefault();
    ResourcedMaster.logs.render('newer', ResourcedMaster.logs.current, ResourcedMaster.logs.itemsPerPage, $('.logs-list'), $('.btn-pagination-prev'), $('.btn-pagination-next'));

    $('html, body').animate({ scrollTop: 0 }, 'slow'); // Scroll to top
});
</script>
{{end}}