{{define "second-navbar"}}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="form-group form-group-search-and-save">
            <form class="navbar-form navbar-left search-form" role="search" action="/">
                <input type="hidden" name="gorilla.csrf.Token" value="{{ $.CSRFToken }}">
                <div class="input-group">
                    <input id="search-input" name="q" type="text" class="form-control" placeholder="Press enter to search">
                </div>
            </form>

            <form class="navbar-form navbar-left saved-queries-form" action="/saved-queries" method="post">
                <input type="hidden" name="gorilla.csrf.Token" value="{{ $.CSRFToken }}">
                <input id="saved-queries-input" name="SavedQuery" type="hidden">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Save Query</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<script>
$(window).load(function() {
    var key = "q";
    var value = "";
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');

    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == key) {
            value = sParameterName[1];
        }
    }

    value = value.replace(/\+/g, " ");

    if(value != "") {
        $('[name="q"]').val(decodeURIComponent(value));
    }

    // On load, cp search input to saved-queries input.
    $('#saved-queries-input').val($('#search-input').val());
});

// This catches keyup, onchange, and paste events.
// cp search input to saved-queries input
$('#search-input').bind("input propertychange", function(e) {
    $('#saved-queries-input').val($(this).val());
});
</script>
{{ end }}

{{define "content"}}
<!-- Logs -->
<div class="container logs">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header" style="padding-bottom: 0">
                <div class="btn-group btn-group-sm pull-right" role="group" style="margin-top: 4px">
                    <a type="button" class="btn btn-primary btn-pagination-prev" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span></a>

                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="pagination-range-display">15 Minutes</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="900">15 Minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="1800">30 Minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="3600">60 minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="7200">2 hours</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="10800">3 hours</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="14400">4 hours</a></li>
                        </ul>
                    </div>

                    <a type="button" class="btn btn-primary btn-pagination-next" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></a>
                </div>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="/logs">Logs</a></li>
                    <li role="presentation"><a href="/logs/executors">Executor Logs</a></li>
                </ul>
            </div>
        </div>
    </div>

    {{ if eq (len .Logs) 0 }}
    <div class="jumbotron" style="margin-bottom: 16px">
        <h2 style="margin-top: 0">No logs available in the given date range.</h2>
        <ul>
            <li>Make sure that the agents are configured correctly.</li>
            <li>The 1st page of pagination starts from current time and looks back N range. Make sure your date range is set correctly.</li>
            <li>You can use the URL GET param to change the date range. Simply set <code>from=</code> and <code>to=</code>.</li>
        </ul>
    </div>
    {{ end }}

    {{ range $log := .Logs }}
    <div class="row" style="margin-bottom: 16px">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    {{ $log.Created }}
                </div>
                <div class="col-lg-4 col-md-4">
                    {{ $log.Hostname }}
                </div>
                <div class="col-lg-4 col-md-4">
                    {{ $log.Filename }}
                </div>
            </div>

            <div class="row" style="padding-bottom: 6px">
                <div class="col-lg-12">
                    {{ range $tagKey, $tagValue := $log.GetTags }}
                    <a class="label label-default" href="/?q=tags.{{ $tagKey }} %3D {{ $tagValue }}">{{ $tagKey }} : {{ $tagValue }}</a>
                    {{ end }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="font-size: 11px">
                    {{ $log.Logline }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="row">
        <div class="col-lg-12">
            <div style="padding-top: 8px; padding-bottom: 8px; margin-bottom: 16px; border-top: 1px solid #4e5d6c">
                <div class="btn-group btn-group-sm pull-right" role="group" style="margin-top: 3px">
                    <a type="button" class="btn btn-primary btn-pagination-prev" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span></a>

                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="pagination-range-display">15 Minutes</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="900">15 Minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="1800">30 Minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="3600">60 minutes</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="7200">2 hours</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="10800">3 hours</a></li>
                            <li><a class="pagination-range" href="javascript:void(0)" data-seconds="14400">4 hours</a></li>
                        </ul>
                    </div>

                    <a type="button" class="btn btn-primary btn-pagination-next" href=""><span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></a>
                </div>

                <input id="search-input" name="q" type="text" class="form-control" placeholder="Press enter to search" style="width: 400px" onkeyup="filter(this)">
            </div>
        </div>
    </div>

</div>

<script>
function setupPrevAndNextArrows(range, rangeText, from, to, _rev) {
    var doc = {
        _id: 'ResourcedMaster.logs.pagination',
        from: from,
        to, to,
        text: rangeText,
        range: range
    };
    if(_rev) {
        doc._rev = _rev;
    }

    console.log(doc);

    ResourcedMaster.UIStore.put(doc);

    $('.pagination-range-display').text(rangeText);

    $('.btn-pagination-prev').attr('href', '/logs?from=' + (from - range) + '&to=' + from);
    $('.btn-pagination-next').attr('href', '/logs?from=' + to + '&to=' + (to + range));
}

$(document).ready(function() {
    ResourcedMaster.UIStore.get('ResourcedMaster.logs.pagination').then(function(doc) {
        if (doc.range && doc.text && doc.from && doc.to) {
            setupPrevAndNextArrows(doc.range, doc.text, doc.from, doc.to, doc._rev);
        } else {
            // Default is 15 minutes
            setupPrevAndNextArrows(900, '15 Minutes', {{ .From }}, {{ .To }});
        }
    });
});

$('.pagination-range').click(function() {
    var range = $(this).data('seconds');
    var text = $(this).text();

    ResourcedMaster.UIStore.get('ResourcedMaster.logs.pagination').then(function(doc) {
        if (doc.range && doc.text && doc.from && doc.to) {
            setupPrevAndNextArrows(range, text, doc.from, doc.to, doc._rev);
        } else {
            // Default is 15 minutes
            setupPrevAndNextArrows(range, text, {{ .From }}, {{ .To }});
        }
    });
});
</script>
{{end}}