<!DOCTYPE html>
<html>
  <head>
    <title>ResourceD Master</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/bootstrap/themes/superhero/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .jumbotron {
      margin-top: 40px;
      padding: 30px;
      text-align: center;
    }
    .jumbotron h1 {
      font-size: 100px;
    }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>{{ .StatusCode }}</h1>
        <p>{{ .Message }}</p>
      </div>
    </div>
  </body>
</html>
