{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<!-- Watchers -->
<div class="container watchers">
    {{ if eq (len .SavedQueries) 0 }}
    <div class="jumbotron" style="margin-top: 40px">
        <h2>Unable to create a watcher without saved queries</h2>
        <p>What can a watcher do? A watcher can send alerts or execute arbitrary docker commands.</p>
        <p><a class="btn btn-primary btn-lg" href="/">Click here to save a query</a></p>
    </div>

    {{ else }}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#watcher-modal">
                    New Watcher
                </button>

                <h2>Watchers</h2>
            </div>
        </div>
    </div>

    {{ range $watcher := .Watchers }}
    <div class="row watchers">
        <div class="col-xs-12 col-lg-12">
            <div>
                <div class="pull-right">
                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#watcher-modal"
                            data-id="{{ $watcher.ID }}"
                            data-name="{{ $watcher.Name }}"
                            data-saved-query-id="{{ $watcher.SavedQueryID }}"
                            data-low-affected-hosts="{{ $watcher.LowAffectedHosts }}"
                            data-hosts-last-updated="{{ $watcher.HostsLastUpdated }}"
                            data-check-interval="{{ $watcher.CheckInterval }}">
                            Details
                        </button>

                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#trigger-modal"
                            data-watcher-id="{{ $watcher.ID }}"
                            data-watcher-name="{{ $watcher.Name }}">
                            New Trigger
                        </button>
                    </div>
                </div>

                <h3>{{ $watcher.Name }}</h3>
            </div>

            <span class="label label-primary">{{ $watcher.SavedQuery }}</span>
            <span class="label label-primary">Min Affected Hosts: {{ $watcher.LowAffectedHosts }}</span>
            <span class="label label-primary">Check Interval: {{ $watcher.CheckInterval }}</span>

            <div class="triggers">
                <div class="trigger-header" data-watcher-id="{{ $watcher.ID }}">
                    <div class="pull-right">
                        <input type="checkbox" class="toggler toggler-body pull-right" data-size="mini">
                    </div>

                    <h4>Triggers</h4>
                </div>

                <div class="trigger-body table-responsive table-condensed" data-watcher-id="{{ $watcher.ID }}" style="display: none">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Min Violations Reached</th>
                                <th>Max Violations Reached</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range $trigger := index $.TriggersByWatcher $watcher.ID }}
                            <tr>
                                <td>{{ $trigger.LowViolationsCount }}</td>
                                <td>{{ $trigger.HighViolationsCount }}</td>
                                <td>{{ $trigger.ActionTransport }} {{ $trigger.ActionEmail }}</td>
                                <td>
                                    <form action="/watchers/{{ $watcher.ID }}/triggers/{{ $trigger.ID }}" method="post" onsubmit="return confirm('Are you sure you want to delete?');">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="btn btn-danger btn-block btn-xs">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    {{ end }}

    {{ end }}
</div>

<!-- Watcher Modal -->
<div class="modal fade" id="watcher-modal" tabindex="-1" role="dialog" aria-labelledby="watchers-details-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="watchers-details-label">New/Update Watcher</h4>
            </div>

            <form method="post" action="/watchers">
                <input type="hidden" name="_method" value="post">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" value="">
                        </div>

                        <div class="col-sm-6">
                            <label>Saved Queries</label>
                            <select name="SavedQueryID" class="form-control">
                            {{ range $i, $savedQuery := .SavedQueries }}
                                <option value="{{ $savedQuery.ID }}">{{ $savedQuery.Query }}</option>
                            {{ end }}
                            </select>
                            <input type="hidden" class="form-control" name="SavedQuery" value="">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label>Min Affected Hosts</label>
                            <input type="number" class="form-control" name="LowAffectedHosts" value="1">
                        </div>

                        <div class="col-sm-3">
                            <label>Check Interval</label>
                            <input type="text" class="form-control" name="CheckInterval" value="10s">
                        </div>

                        <div class="col-sm-6">
                            <label>Hosts Last Updated</label>
                            <select class="form-control" name="HostsLastUpdated">
                                <option value="5 minutes ago">5 minutes ago</option>
                                <option value="10 minutes ago">10 minutes ago</option>
                                <option value="15 minutes ago">15 minutes ago</option>
                                <option value="30 minutes ago">30 minutes ago</option>
                                <option value="60 minutes ago">60 minutes ago</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        Delete
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Trigger Modal -->
<div class="modal fade" id="trigger-modal" tabindex="-1" role="dialog" aria-labelledby="triggers-details-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="triggers-details-label">New Trigger</h4>
            </div>

            <form method="post" action="/watchers/triggers">
                <input type="hidden" name="_method" value="post">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-left: 0">When violations occured between</span>

                                <input type="number" class="form-control" name="LowViolationsCount" value="0">

                                <span class="input-group-addon">and</span>

                                <input type="number" class="form-control" name="HighViolationsCount">

                                <span class="input-group-addon" style="padding-right: 0">times</span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3 actions-selector-wrapper">
                            <label>Actions</label>
                            <select class="form-control" name="ActionTransport">
                                <option value="nothing">Do Nothing</option>
                                <option value="email">Send Email</option>
                                <option value="sms">Send SMS</option>
                                <option value="pagerduty">Send PagerDuty</option>
                            </select>
                        </div>

                        <div class="col-sm-9 payload payload-email">
                            <label>Email</label>
                            <input type="email" class="form-control" name="ActionEmail" placeholder="bob@example.com" value="">
                        </div>

                        <div class="col-sm-3 payload payload-sms" style="display: none">
                            <label>SMS Carrier</label>
                            <select class="form-control" name="ActionSMSCarrier">
                                <option value="Alltel">Alltel</option>
                                <option value="AT&T">AT&T</option>
                                <option value="Boost Mobile">Boost Mobile</option>
                                <option value="Sprint">Sprint</option>
                                <option value="T-Mobile">T-Mobile</option>
                                <option value="US Cellular">US Cellular</option>
                                <option value="Verizon">Verizon</option>
                                <option value="Virgin Mobile">Virgin Mobile</option>
                            </select>
                        </div>

                        <div class="col-sm-6 payload payload-sms" style="display: none">
                            <label>SMS Number</label>
                            <input type="tel" class="form-control" name="ActionSMSPhone" placeholder="555-555-5555" value="">
                        </div>

                        <div class="col-sm-4 payload payload-pagerduty" style="display: none">
                            <label>PD Service Key</label>
                            <input type="text" class="form-control" name="ActionPagerDutyServiceKey" placeholder="" value="">
                        </div>

                        <div class="col-sm-5 payload payload-pagerduty" style="display: none">
                            <label>PD Description</label>
                            <input type="text" class="form-control" name="ActionPagerDutyDescription" placeholder="" value="">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        Delete
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var changeActionTransport = function() {
    var transportVal = $('select[name="ActionTransport"] option:selected').val();

    if(transportVal == "nothing") {
        $('.actions-selector-wrapper').removeClass('col-sm-3');
        $('.actions-selector-wrapper').addClass('col-sm-12');
    } else {
        $('.actions-selector-wrapper').removeClass('col-sm-12');
        $('.actions-selector-wrapper').addClass('col-sm-3');
    }

    $('.payload').hide();
    $('.payload-' + transportVal).show();
};

$(document).ready(function() {
    $('.toggler').bootstrapSwitch();

    // Load the state of ".row.watchers .toggler-body" from cookie
    var state = $.cookie('.row.watchers .toggler-body');
    if (state && state == 'true') {
        $('.row.watchers .toggler-body').each(function() {
            var $triggerHeader = $(this).closest('.trigger-header');
            var watcherID = $triggerHeader.data('watcher-id');
            $triggerHeader.siblings('.trigger-body[data-watcher-id="' + watcherID + '"]').show();

            $(this).bootstrapSwitch('state', true, true);
        });
    }
});

$('select[name="SavedQueryID"]').change(function() {
    var text = $('select[name="SavedQueryID"] option:selected').text();
    $('input[name="SavedQuery"]').val(text);
});

$('select[name="ActionTransport"]').change(changeActionTransport);

$('#watcher-modal form .btn-danger').click(function() {
    $('#watcher-modal form input[name="_method"]').val('delete');
    $(this).closest('form').submit();
});

$('#watcher-modal form .btn-primary').click(function() {
    $('#watcher-modal form input[name="_method"]').val('put');
    $(this).closest('form').submit();
});

$('#watcher-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var id = button.data('id');
    var name = button.data('name');
    var savedQueryID = button.data('saved-query-id');
    var lowAffectedHosts = button.data('low-affected-hosts');
    var hostsLastUpdated = button.data('hosts-last-updated');
    var checkInterval = button.data('check-interval');

    var modal = $(this);

    modal.find('input[name="Name"]').val(name);

    if(savedQueryID) {
        $('select[name="SavedQueryID"] option[value="' + savedQueryID + '"]').attr('selected', 'selected');
    }
    if(lowAffectedHosts) {
        modal.find('input[name="LowAffectedHosts"]').val(lowAffectedHosts);
    }
    if(hostsLastUpdated) {
        $('select[name="HostsLastUpdated"] option[value="' + hostsLastUpdated + '"]').attr('selected', 'selected');
    }
    if(checkInterval) {
        modal.find('input[name="CheckInterval"]').val(checkInterval);
    }

    if(id) {
        modal.find('form').attr('action', '/watchers/' + id);
        modal.find('.btn-danger').show();
        modal.find('.modal-title').text('Update Watcher');
    } else {
        modal.find('form').attr('action', '/watchers');
        modal.find('.btn-danger').hide();
        modal.find('.modal-title').text('New Watcher');
    }

    // -----------------------------------------------

    var text = $('select[name="SavedQueryID"] option:selected').text();
    $('input[name="SavedQuery"]').val(text);
});

$('#trigger-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var watcherID = button.data('watcher-id');
    var watcherName = button.data('watcher-name');
    var actionTransport = button.data('action-transport');
    var actionEmail = button.data('action-email');

    var modal = $(this);

    modal.find('input[name="Name"]').val(name);

    if(actionTransport) {
        $('select[name="ActionTransport"] option[value="' + actionTransport + '"]').attr('selected', 'selected');
    }
    if(actionEmail) {
        modal.find('input[name="ActionEmail"]').val(actionEmail);
    }

    modal.find('form').attr('action', '/watchers/' + watcherID + '/triggers');
    modal.find('.btn-danger').hide();
    modal.find('.modal-title').text('New Trigger');

    // -----------------------------------------------

    changeActionTransport();
});

$('#trigger-modal form .btn-primary').click(function() {
    // $('#trigger-modal form input[name="_method"]').val('put');
    $(this).closest('form').submit();
});

$('.row.watchers .toggler-body').on('switchChange.bootstrapSwitch', function(event, state) {
    var $triggerHeader = $(this).closest('.trigger-header');
    var watcherID = $triggerHeader.data('watcher-id');
    $triggerHeader.siblings('.trigger-body[data-watcher-id="' + watcherID + '"]').toggle();

    $.cookie('.row.watchers .toggler-body', state, {
        path: '/',
        expires: 365
    });
});
</script>
{{end}}
