{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<!-- Metadata -->
<div class="container hosts">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Metadata</h2>
            </div>
        </div>
    </div>

    <div class="row metadata">
    {{ if eq (len .MetadataRows) 0 }}
        <div class="col-lg-12">
            <form method="post" action="/metadata">
                <div class="form-group">
                    <input type="text" class="form-control" name="Key" placeholder="slash/separated/key">
                    <textarea class="form-control" name="Data" placeholder="Data in JSON format"></textarea>

                    <button type="submit" class="btn btn-primary btn-block btn-sm">Save</button>
                </div>
            </form>
        </div>

    {{ else }}
        <!-- Metadata -->
        <div class="col-lg-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {{ range $metadata := .MetadataRows }}
                    <tr>
                    <form method="post" action="/metadata">
                        <td class="metadata-column-key"><input type="text" class="form-control metadata-font" name="Key" placeholder="slash/separated/key" value="{{ $metadata.Key }}"></td>
                        <td><input type="text" class="form-control metadata-font" name="Data" placeholder="Data in JSON format" value="{{ $metadata.DataString }}"></td>
                        <td class="metadata-column-save-btn"><button type="submit" class="btn btn-primary btn-block">Save</button></td>
                    </form>

                        <td class="metadata-column-details-btn">
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#metadata-details-modal" data-key="{{ $metadata.Key }}" data-value="{{ $metadata.DataString }}">
                                Details
                            </button>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    {{ end }}
</div>

<!-- Metadata Details -->
<div class="modal fade" id="metadata-details-modal" tabindex="-1" role="dialog" aria-labelledby="metadata-details-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="metadata-details-label">Metadata Details</h4>
            </div>

            <form method="post" action="/metadata">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Key" placeholder="slash/separated/key">
                        <textarea class="form-control" name="Data" placeholder="Data in JSON format" style="height: 300px"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        Delete
                    </button>
                    -->

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$(this).closest('form').submit()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$('.row.metadata tbody tr').hover(function() {
    $('.row.metadata tbody tr').removeClass('metadata-row-highlight');
    $(this).addClass('metadata-row-highlight');
});

$('#metadata-details-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var key = button.data('key');
    var value = button.attr('data-value');
    var modal = $(this);

    modal.find('input[name="Key"]').val(key);
    modal.find('textarea').val(value);
    modal.find('.btn-danger').data('key', key);
});

$('#metadata-details-modal .btn-danger').click(function() {
    var $button = $(this);
    var key = $button.data('key');

    $button.closest('form').attr('action', '/metadata/' + ResourcedMaster.globals.currentCluster.ID + '/' + key);
    $button.closest('form').submit();
});
</script>
{{end}}
