{{define "second-navbar"}}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="form-group">
            <form class="navbar-form navbar-left search-form" role="search" style="width: 100%">
                <div class="input-group" style="width: 100%">
                    <input id="search-input" name="q" type="text" class="form-control" placeholder="Type to start filtering metadata">
                </div>
            </form>
        </div>
    </div>
</nav>
{{ end }}

{{define "content"}}
<!-- Metadata -->
<div class="container hosts">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Metadata</h2>
            </div>
        </div>
    </div>

    <div class="row metadata">
    {{ if eq (len .MetadataRows) 0 }}
        <div class="col-lg-12">
            <form method="post" action="/metadata">
                <div class="form-group">
                    <input type="text" class="form-control" name="Key" placeholder="slash/separated/key">
                    <textarea class="form-control" name="Data" placeholder="Data in JSON format"></textarea>

                    <button type="submit" class="btn btn-primary btn-block btn-sm">Save</button>
                </div>
            </form>
        </div>

    {{ else }}
        <!-- Metadata -->
        <div class="col-lg-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    <form method="post" action="/metadata">
                        <td class="metadata-column-key"><input type="text" class="form-control metadata-font" name="Key" placeholder="slash/separated/key"></td>
                        <td><input type="text" class="form-control metadata-font" name="Data" placeholder="Data in JSON format"></td>
                        <td class="metadata-column-save-btn"><button type="submit" class="btn btn-primary btn-block">Add</button></td>
                    </form>

                        <td class="metadata-column-details-btn">
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#metadata-details-modal">
                                Details
                            </button>
                        </td>
                    </tr>

                {{ range $metadata := .MetadataRows }}
                    <tr>
                    <form method="post" action="/metadata">
                        <td class="metadata-column-key"><input type="text" class="form-control metadata-font" name="Key" placeholder="slash/separated/key" value="{{ $metadata.Key }}"></td>
                        <td><input type="text" class="form-control metadata-font" name="Data" placeholder="Data in JSON format" value="{{ $metadata.DataString }}"></td>
                        <td class="metadata-column-save-btn"><button type="submit" class="btn btn-primary btn-block">Save</button></td>
                    </form>

                        <td class="metadata-column-details-btn">
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#metadata-details-modal" data-key="{{ $metadata.Key }}" data-value="{{ $metadata.DataString }}">
                                Details
                            </button>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    {{ end }}
</div>

<!-- Metadata Details -->
<div class="modal fade" id="metadata-details-modal" tabindex="-1" role="dialog" aria-labelledby="metadata-details-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="metadata-details-label">Metadata Details</h4>
            </div>

            <form method="post" action="/metadata">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Key" placeholder="slash/separated/key">
                        <textarea class="form-control" name="Data" placeholder="Data in JSON format" style="height: 300px"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        Delete
                    </button>
                    -->

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$(this).closest('form').submit()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
// Persist q data from URL to search bar.
$(window).load(function() {
    var key = "q";
    var value = "";
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');

    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == key) {
            value = sParameterName[1];
        }
    }

    value = value.replace(/\+/g, " ");

    if(value != "") {
        $('[name="' + key + '"]').val(decodeURIComponent(value));
    }

    // Loop every metadata and filter by value
    $('.row.metadata tbody').find('tr').each(function() {
        var $row = $(this);
        var key = $row.find('input[name="Key"]').val();
        var data = $row.find('input[name="Data"]').val();

        if($row.text().toLowerCase().indexOf(value) == -1 && key.toLowerCase().indexOf(value) == -1 && data.toLowerCase().indexOf(value) == -1) {
            $row.hide();
        } else {
            $row.show();
        }
    });
});

// On keyup, filter metadata
$('#search-input').on('keyup', function(e) {
    if ('' != this.value) {
        var q = this.value;

        $('.row.metadata tbody').find('tr').each(function() {
            var $row = $(this);
            var key = $row.find('input[name="Key"]').val();
            var data = $row.find('input[name="Data"]').val();

            if($row.text().toLowerCase().indexOf(q) == -1 && key.toLowerCase().indexOf(q) == -1 && data.toLowerCase().indexOf(q) == -1) {
                $row.hide();
            } else {
                $row.show();
            }
        });
    } else {
        $('.row.metadata tbody').find('tr').show();
    }
});

$('.row.metadata tbody tr').hover(function() {
    $('.row.metadata tbody tr').removeClass('metadata-row-highlight');
    $(this).addClass('metadata-row-highlight');
});

$('#metadata-details-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   // Button that triggered the modal
    var key = button.data('key');
    var value = button.attr('data-value');
    var modal = $(this);

    modal.find('input[name="Key"]').val(key);
    modal.find('textarea').val(value);
    modal.find('.btn-danger').data('key', key);
});

$('#metadata-details-modal .btn-danger').click(function() {
    var $button = $(this);
    var key = $button.data('key');

    $button.closest('form').attr('action', '/clusters/' + ResourcedMaster.globals.currentCluster.ID + '/metadata/' + key);
    $button.closest('form').submit();
});
</script>
{{end}}
