{{define "second-navbar"}}
{{ end }}

{{define "content"}}
<!-- Metadata -->
<div class="container hosts">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Metadata</h2>
            </div>
        </div>
    </div>

    <div class="row metadata">
    {{ if eq (len .MetadataRows) 0 }}
        <div class="col-lg-12">
    {{ else }}
        <div class="col-lg-6">
    {{ end }}
            <form method="post" action="/metadata">
                <div class="form-group">
                    <input type="text" class="form-control metadata-font" name="Key" placeholder="slash/separated/key">
                    <textarea class="form-control metadata-value metadata-font" name="Data" placeholder="Data in JSON format"></textarea>

                    <button type="submit" class="btn btn-primary btn-block btn-sm">Save</button>
                </div>
            </form>
        </div>

    {{ range $metadata := .MetadataRows }}
        <div class="col-lg-6">
            <form method="post" action="/metadata">
                <div class="form-group">
                    <input type="text" class="form-control metadata-font" name="Key" placeholder="slash/separated/key" value="{{ $metadata.Key }}">
                    <textarea class="form-control metadata-value metadata-font" name="Data" placeholder="Data in JSON format">
{{ $metadata.DataString }}
                    </textarea>

                    <button type="submit" class="btn btn-primary btn-block btn-sm">Save</button>
                </div>
            </form>
        </div>
    {{ end }}
    </div>
</div>

<script>
$('textarea').focus(function(e) {
    ResourcedMaster.ui.resizeTextarea($(this));
});
</script>
{{end}}