<!DOCTYPE html>
<html>
  <head>
    <title>ResourceD Master</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/themes/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/switch/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/resourced-master/css/dashboard.css">

    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/switch/bootstrap-switch.min.js"></script>

    <script>
    $(window).load(function() {
      var key = "q";
      var value = "";
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');

      for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == key) {
          value = sParameterName[1];
        }
      }

      value = value.replace(/\+/g, " ");

      if(value != "") {
        $('[name="q"]').val(decodeURIComponent(value));
      }
    });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ResourceD Master</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Hosts</a></li>
          </ul>


          <form class="navbar-form navbar-left search-form" role="search" action="/">
            <div class="form-group">
              <div class="input-group">
                <input id="search-input" name="q" type="text" class="form-control" placeholder="Press enter to search">
              </div>
            </div>
          </form>

          <form class="navbar-form navbar-left saved-queries-form" action="/saved-queries" method="post">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Save Query</button>
                </span>
              </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ .CurrentUser.Email }} <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#user-settings-modal">User Settings</a></li>

                <li><a href="/access-tokens">Access Tokens</a></li>

                <li class="divider"></li>

                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- User Settings Modal -->
    <div class="modal fade" id="user-settings-modal" tabindex="-1" role="dialog" aria-labelledby="user-settings-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="user-settings-label">User Settings</h4>
          </div>

          <form method="post" action="/users/{{ .CurrentUser.ID }}">

            <div class="modal-body">
              <input type="hidden" name="_method" value="put">

              <div class="form-group">
                <label class="control-label" for="email">Email:</label>
                <input type="text" name="Email" id="email" class="form-control">
              </div>

              <div class="form-group">
                <label class="control-label" for="password">New Password:</label>
                <input type="password" name="Password" id="password" class="form-control">
              </div>

              <div class="form-group">
                <label class="control-label" for="password-again">New Password Again:</label>
                <input type="password" name="PasswordAgain" id="password-again" class="form-control">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="$(this).closest('form').submit()">Save changes</button>
            </div>

          </form>

        </div>
      </div>
    </div>
    {{template "content" .}}
  </body>
</html>
