{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Hosts</h2>
            </div>
        </div>
    </div>

    {{ range $host := .Hosts }}
    <div class="row host">
        <div class="col-xs-12 col-lg-12">
            <div>
                <h3>{{ $host.Name }}</h3>
            </div>

            {{ range $tag := $host.StringTags }}
            <span class="label label-primary">{{ $tag }}</span>
            {{ end }}

            {{ range $path, $data := $host.DataAsFlatKeyValue }}
            <div>{{ $path }}</div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $key, $value := $data }}
                        <tr>
                            <td>{{ $key }}</td>
                            <td>{{ $value }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            {{ end }}

        </div>
    </div>
    {{ end }}

</div>
{{end}}